.maindiv{
    display: flex;
   
    /* flex-wrap: wrap; */
   
}
a{
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    border: 2px solid springgreen;
    background-color: springgreen;
    border-radius: 10px;
    margin: 50px;
    color: rgb(226, 13, 13);
}
span{
    font-size: x-large;
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(226, 13, 13);
   margin-left: 300px;

}
#lightyellow{
    background-color:#FFC312;
    /* border: 2px solid #f6e58d; */
    width: 180px;
    height: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#lightorange{
    width: 180px;
    height: 120px;
    background-color: #C4E538;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#lightred{
    width: 180px;
    height: 120px;
    background-color:#12CBC4;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#lightgreen{
    width: 180px;
    height: 120px;
    background-color:#FDA7DF;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#lightblue{
    width: 180px;
    height: 120px;
    background-color:#ED4C67;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#f9ca24{
    
    width: 180px;
    height: 120px;
    background-color: #F79F1F;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
    
}
#f0932b{  
    width: 180px;
    height: 120px;
    background-color: #A3CB38;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#eb4d4b{  
    width: 180px;
    height: 120px;
    background-color:#1289A7;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#ab0{  
    width: 180px;
    height: 120px;
    background-color:#D980FA;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#c7ecee{  
    width: 180px;
    height: 120px;
    background-color: #B53471;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#ed6df{  
    width: 180px;
    height: 120px;
    background-color:#EE5A24;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#e056fd{  
    width: 180px;
    height: 120px;
    background-color:#009432;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#c686de0{  
    width: 180px;
    height: 120px;
    background-color:#0652DD;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#c30336b{  
    width: 180px;
    height: 120px;
    background-color:#9980FA;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#c95afc0{  
    width: 180px;
    height: 120px;
    background-color:#833471;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
  
}
#c22a6b3{
  width: 180px;
    height: 120px;
    background-color:#EA2027;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#be2edd{
  width: 180px;
    height: 120px;
    background-color:#006266;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#c4834d4{
  width: 180px;
    height: 120px;
    background-color:#1B1464;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#c130f40{
  width: 180px;
    height: 120px;
    background-color:#5758BB;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#c535c68{
  width: 180px;
    height: 120px;
    background-color:#6F1E51;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}